<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>create story</title>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <h1>Add a New story</h1>

    <form action="/users/<%= user._id %>/crud" method="POST">
      <label for="name">name</label>
      <input type="text" name="name" id="name" />

      <label for="genre">genre</label>
      <select name="genre" id="genre">
        <option value="horror">horror</option>
        <option value="drama">drama</option>
        <option value="action">action</option>
        <option value="adventure">adventure</option>
        <option value="real-story">real-story</option>
      </select>

      <label for="editable">editable by others</label>
      <input type="checkbox" name="editable" id="editable" />

      <label for="date">Date</label>
      <input type="date" name="date" id="date" />

      <label for="content">content</label>
      <textarea name="content" id="content"></textarea>

      <button type="submit">Add a story</button>
    </form>
  </body>
</html>
